/* CSS Reset */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background: rgb(29,0,36);
background: linear-gradient(90deg, rgba(29,0,36,1) 0%, rgba(209,18,226,1) 100%, rgba(0,212,255,1) 100%);
color: white;
}

h1 {
	text-align: center;
	font-family: century gothic; 
	color: white;
	padding-top: 20px;
}

/* Travis Scott image */
.image1 {
	text-align: center;
}

/* My first text */
.text1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: white; 
}

/* My second text */
.text2 {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	border: 2px solid white;
	padding: 20px;
	margin: 50px
}

.image2 {
	text-align: center;
	border: 2px solid white;
}

section {
	width: 50%;
	float: left;
}

section;;after {
	clear: both;
}

.spanntext {
	font-family: sans-serif;
}

.image3 {
	text-align: center;
}

.image4 {
	text-align: center;
}





